<div class="main-item flex">
  <div class="card w-75">
    <div class="vflex">
      <h5>Modify Hours</h5>
      <hr class="heading-divider my-3" />
    </div>
    <form action="cms/update-content" method="POST" class="need-validation">
      <div class="vflex">
        <div class="flex justify-content-between g-24 py-3">
          <div class="flex g-8">
            <p class="text-nowrap">Open (24 hr)</p>
            <input
              class="form-control border-rad"
              type="text"
              name="openHour"
              value="Test"
              autocomplete="off" />
          </div>
          <div class="flex g-8">
            <p class="text-nowrap">Close (24 hr)</p>
            <input
              class="form-control border-rad"
              type="text"
              name="closeHour"
              value="Test2"
              autocomplete="off" />
          </div>
        </div>
        <h6 class="py-2">OR</h6>
        <div class="form-check flex g-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="closed"
            value="closed"
            id="flexCheckDefault" />
          <label class="form-check-label pt-1">CLOSED</label>
        </div>
        <button class="button-3 mt-3" type="submit" style="width: 200px;">
        Save Hours
      </button>
      </div>
    </form>
  </div>
</div>
















<!--
<div class="main-item">
  <form
    class="needs-validation"
    action="cms/update-content"
    method="post"
    id="cms-update-form"
    novalidate>
    <div class="row g-3 py-2">
      <div class="col">
        <div class="card vflex g-16 p-5">
          
          <div class="container-fluid vflex g-16 w-100">
            <div
              class="res-flex w-100 justify-content-between align-items-start">
              
            </div>
            <div
              class="res-flex w-100 justify-content-between align-items-start">
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </form>
  <% if (updateSuccess || updateError) { %>
  <div
    class="alert alert-<%= updateSuccess ? 'success' : 'danger' %> text-center border-rad"
    role="alert">
    <%= updateSuccess || updateError %>
  </div>
  <% } %>

  <div class="flex g-16">
    <a href="/logout" class="w-50">
      <button class="button-1">Logout</button>
    </a>
    
  </div>
</div>
-->