<div class="main-item large" id="overview">
  <div class="vflex">
    <h2 class="heading-noline text-center display-5">Course Overview</h2>
    <hr class="heading-divider" />
  </div>
  <div class="container">
    <div class="row py-1">
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=1#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-1.jpg" alt="Hole 1" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 1</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=2#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-17.jpg" alt="Hole 2" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 2</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=3#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-21.jpg" alt="Hole 3" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 3</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=4#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-20.jpg" alt="Hole 4" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 4</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=5#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-7.jpg" alt="Hole 5" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 5</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=6#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-5.jpg" alt="Hole 6" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 6</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=7#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-9.jpg" alt="Hole 7" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 7</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=8#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-11.jpg" alt="Hole 8" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 8</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 py-2 m-0">
        <a href="/aerial-tour?hole=9#tour">
          <div class="position-relative">
            <div class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
              <img src="assets/images/drone-12.jpg" alt="Hole 9" class="transition-long">
            </div>
            <h3 class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">Hole 9</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>