<div class="main-item large" id="overview">
  <div class="vflex">
    <h2 class="heading-noline text-center display-5">Course Overview</h2>
    <hr class="heading-divider" />
  </div>
  <div class="container grid-3x3 g-16">
    <% holeNav.forEach((item, i) => { %>
    <div>
      <a href="/aerial-tour?hole=<%= i + 1 %>#tour">
        <div class="position-relative">
          <div
            class="hole-nav-img position-relative overflow-hidden border-rad shadow-2">
            <img
              src="<%= item %>"
              alt="Hole <%= i + 1 %>"
              class="transition-long" />
          </div>
          <h3
            class="heading-no-res position-absolute top-50 start-50 translate-middle z-3 color-w">
            Hole <%= i + 1 %>
          </h3>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
