<!-- about.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'About Us' }); %>

<body>
  <%- include('common/header.ejs'); %>
  <main class="main">
    <div class="main-item">
      <h2 class="heading display-5 text-center">Our Story</h2>
      <p class="text-center text-restrict">
        Established in 2013, we are a locally owned and operated course located at 2000 Golden
        Grove Road on the border of Saint John and Rothesay. Our course features a challenging and
        narrow Par 3 layout, with two Par 4's and plenty of beautiful bodies of water that add to
        the natural beauty of the surroundings.<br /><br />Whether you're an experienced golfer
        looking to test your skills or a newcomer to the game, we welcome you to come and enjoy
        the tight, challenging course that we've created.<br /><br />At Cedar Groves, we pride
        ourselves on creating a welcoming atmosphere where everyone feels at home. So, come and
        experience our unique course for yourself, and discover why Cedar Groves is the perfect
        destination for golf enthusiasts.
      </p>
    </div>
    <div class="main-item large full-bleed">
      <div class="vflex g-64">
        <div class="text-img-box res-flex g-64">
          <div class="vflex flex-eq g-8">
            <h4>Crafted for Golfers</h4>
            <p class="text-center">
              Cedar Groves Golf Course was developed by professional landscapers, with the holes
              designed by a Canadian Amateur Champion. This results in a meticulously crafted
              course that showcases the natural surroundings and provides a challenging, yet
              enjoyable experience for golfers of all levels.
            </p>
          </div>
          <div class="flex-eq">
            <img src="assets/images/drone-21.jpg" class="border-rad shadow-2 img-anim" alt="Golf Image" />
          </div>
        </div>
        <div class="text-img-box res-flex g-64">
          <div class="order flex-eq">
            <img src="assets/images/drone-13.jpg" class="border-rad shadow-2 img-anim" alt="Golf Image" />
          </div>
          <div class="vflex flex-eq g-8">
            <h4>Your Home for Golf and More</h4>
            <p class="text-center">
              We are known for our welcoming and friendly atmosphere, creating a strong sense of
              community. Golfers of all levels feel at home on our fairways, where the casual
              environment fosters an enjoyable experience. Join us today for great hospitality and
              exceptional golf.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('common/footer.html'); %>
</body>

</html>