<!-- rates-fees.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'Rates & Fees' }); %>

<body>
  <%- include('common/header.ejs'); %>
  <!-- main -->
  <main class="main">
    <div class="main-item vflex">
      <h2 class="heading display-5 text-center">
        <span id="year"></span> Golf Season
      </h2>
      <p class="text-center text-restrict">
        At Cedar Groves, we are committed to providing a top-notch experience without breaking the bank. Our rates and
        fees are designed to be affordable for everyone, while still maintaining high quality.
      </p>
      <hr class="divider text-center opacity-100 mt-4"
        style="border-top-color: #9d7700; border-width: 3px; width: 120px" />
    </div>

    <div class="main-item ps">
      <div class="price-cards res-flex g-32 pb-5 img-anim">
        <div class="card-s vflex flex-eq g-16 p-5">
          <h4 class="text-center">9 Hole</h4>
          <div class="vflex g-32" style="transform: translateY(80px)">
            <div class="flex color-main bg-acc px-5 py-3 border-rad shadow-2" style="font-weight: 600">
              <h3>?</h3>
            </div>
          </div>
        </div>
        <div class="card-s vflex flex-eq g-16 p-5">
          <h4 class="text-center">18 Hole</h4>
          <div class="vflex g-32" style="transform: translateY(80px)">
            <div class="flex color-main bg-acc px-5 py-3 border-rad shadow-2" style="font-weight: 600">
              <h3>?</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-item ps">
      <div class="card-s vflex flex-eq g-16 p-5 img-anim">
        <h4 class="text-center">Driving Range</h4>
        <div class="vflex g-32" style="transform: translateY(80px)">
          <div class="flex color-main bg-acc px-5 py-3 border-rad shadow-2" style="font-weight: 600">
            <h3>?</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="main-item">
      <div class="card-s vflex flex-eq g-16 p-5 img-anim">
        <h4 class="text-center">Amenities</h4>
        <div class="vflex g-32" style="transform: translateY(80px)">
          <div class="flex color-main bg-acc px-5 py-3 border-rad shadow-2" style="font-weight: 600">
            <h3>?</h3>
          </div>
        </div>
      </div>
    </div>




  </main>
  <%- include('common/footer.html'); %>
</body>

</html>