<!-- rates-fees.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('common/head.ejs', { pageTitle: 'Rates & Fees' }); %>
  <body>
    <%- include('common/header.ejs'); %>
    <!-- main -->
    <main class="main">
      <div class="main-item vflex">
        <h2 class="heading display-5 text-center">
          <span id="year"></span> Golf Season
        </h2>
        <p class="text-center text-restrict">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium,
          ad officiis voluptate necessitatibus tenetur odio eveniet provident
          autem nulla. Dolor?
        </p>
        <hr
          class="divider text-center opacity-100 mt-4"
          style="border-top-color: #9d7700; border-width: 3px; width: 100px"
        />
      </div>

      <div class="main-item ps">
        <div class="card-s">
          <h5
            class="text-center pb-3 mb-4 fw-bold"
            style="border-bottom: solid 1px #ddd"
          >
            Green Fees
          </h5>
          <div class="flex justify-content-evenly p-3 g-32">
            <table class="table table-borderless rates-table flex-eq">
              <tbody>
                <tr>
                  <th scope="row">9 Hole</th>
                  <td>$20</td>
                </tr>
                <tr>
                  <th scope="row">9 Hole &mdash; Senior</th>
                  <td>$15</td>
                </tr>
                <tr>
                  <th scope="row">9 Hole &mdash; Junior</th>
                  <td>$10</td>
                </tr>
                <tr>
                  <th scope="row">18 Hole</th>
                  <td>$28</td>
                </tr>
                <tr>
                  <th scope="row">18 Hole &mdash; Senior</th>
                  <td>$20</td>
                </tr>
                <tr>
                  <th scope="row">18 Hole &mdash; Junior</th>
                  <td>$14</td>
                </tr>
              </tbody>
            </table>

            <img
              src="assets/images/drone-22.jpg"
              alt=""
              class="flex-eq border-rad shadow-2"
            />
          </div>
        </div>
      </div>

      <div class="main-item ps">
        <div class="card-s">
          <h5 class="text-center pb-3" style="border-bottom: solid 1px #ddd">
            Driving Range
          </h5>
        </div>
      </div>

      <div class="main-item ps">
        <div class="card-s">
          <h5 class="text-center pb-3" style="border-bottom: solid 1px #ddd">
            For The Course
          </h5>
        </div>
      </div>

      <div class="main-item large">
        <div class="res-flex align-items-stretch pb-5">
          <img src="assets/images/drone-17.jpg" alt="Golf" class="flex-eq" />
          <div class="bg-sec flex-eq p-5">
            <h4 class="text-center pb-5">Heading 1</h4>
            <p class="text-center">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Aspernatur officiis autem libero? Voluptas commodi nihil est
              exercitationem fuga error id?
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('common/footer.html'); %>
  </body>
</html>
