<!-- rules-regulations.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'Rules & Regulations' }); %>

<body>
  <%- include('common/header.ejs'); %>
  <!-- main -->
  <main class="main">
    <div class="main-item ps"></div>
    <div class="main-item ps">
      <div class="rules-card card-s vflex justify-content-start g-8 p-5">
        <h4 class="text-center">Starting Procedures</h4>
        <hr class="divider text-center opacity-100 my-2" style="border-top-color: #9d7700" />
        <ol class="vflex align-items-start g-16">
          <li>
            Cedar Groves Golf Course has the authority to control starting in
            any manner that will expedite orderly and enjoyable golf.
          </li>
          <li>
            Members and guests must always report to the clubhouse prior to
            teeing off.
          </li>
          <li>
            All members are urged to comply with the starting procedures and
            to be conscious of their respective pace of play.
          </li>
          <li>
            All games must start on the first tee unless specific permission
            or further directions are obtained from the Cedar Groves staff.
          </li>
          <li>
            Vehicles parking must not block the garbage bin or path to the
            clubhouse. Ensure vehicles are locked as Cedar Groves is not
            responsible for lost items.
          </li>
        </ol>
        <img src="assets/icons/starting-procedures.svg" alt="Starting Procedures" class="mt-auto" style="width: 3rem" />
      </div>
    </div>

    <div class="main-item ps">
      <div class="rules-card card-s vflex justify-content-start shadow-2 g-8 p-5">
        <h4 class="text-center">Golf Etiquette</h4>
        <hr class="divider text-center opacity-100 my-2" style="border-top-color: #9d7700" />
        <ol class="vflex align-items-start g-16" type="1">
          <li>
            Slow play will not be tolerated. Players should play without delay
            and follow behind the group ahead at all times.<br />
            To help overcome slow play, season pass holders and guests are
            asked to consider the following:
            <ul>
              <li>
                Four-ball games are recommended during periods of heavy play.
              </li>
              <li>
                Prepare for your shot as you approach your ball or the tee and
                always be ready to play when it is your turn.
              </li>
              <li>
                Play "ready golf" (i.e., take your shot as soon as you are
                ready, rather than strictly following the order of play).
              </li>
              <li>
                When you have completed a hole, pick up your ball and proceed
                to the next tee as quickly as possible.
              </li>
              <li>Always be considerate of fellow golfers.</li>
              <li>Leave the course as you found it.</li>
            </ul>
          </li>
          <li>
            Players who fail to maintain the pace of play by looking for a
            ball or dropping back more than one clear hole from those in front
            must wave the following group through if they are not on time par.
          </li>
          <li>
            Time of play for Cedar Groves Golf Course is 2 hours and 20
            minutes, please play accordingly.
          </li>
          <li>
            Take great care to repair all ball marks on greens and all divots
            on fairways.
          </li>
          <li>
            There is no strict dress code, feel free to wear what makes you
            feel comfortable.
          </li>
        </ol>
        <img src="assets/icons/etiquette.svg" alt="Etiquette" class="mt-auto" style="width: 3rem" />
      </div>
    </div>

    <div class="main-item ps">
      <div class="res-flex align-items-stretch" style="gap: 48px;">
        <div>
          <div class="rules-card card-s vflex justify-content-start shadow-2 g-8 p-5">
            <h4 class="text-center">Practice Facilities</h4>
            <hr class="divider text-center opacity-100 my-2" style="border-top-color: #9d7700" />
            <ol class="vflex align-items-start g-16" type="1">
              <li>Practicing on the golf course is not permitted.</li>
              <li>
                The practice facilities will be open daily, subject to
                maintence or extreme weather conditions.
              </li>
              <li>
                To ensure the highest quality of grass conditions, please
                respect the markers indicating designated practice areas.
              </li>
              <li>
                By stating within the confines of the markers, superior grass
                grade conditions will be maintained for the enjoyment of all
                golfers.
              </li>
            </ol>
            <img src="assets/icons/practice.svg" alt="Practice" class="mt-auto" style="width: 3rem" />
          </div>
        </div>
        <div>
          <div class="rules-card card-s vflex justify-content-start shadow-2 g-8 p-5">
            <h4 class="text-center">Employee Relations</h4>
            <hr class="divider text-center opacity-100 my-2" style="border-top-color: #9d7700" />
            <ol class="vflex align-items-start g-16" type="1">
              <li>
                All Cedar Groves Golf employees will be treated with respect
                and courtesy.
              </li>
              <li>
                Season pass holders and guests may not abuse any employee
                verbally or otherwise.
              </li>
              <li>
                Any season pass holder who is found to be abusing such
                guidlines may have their playing privileges suspended or
                terminated.
              </li>
              <li>
                The club will not, under any circumstances be responsible for
                the property of any person, whether damaged, lost, or stolen.
              </li>
            </ol>
            <img src="assets/icons/handshake.svg" alt="Employee" class="mt-auto" style="width: 3rem" />
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('common/footer.html'); %>
</body>

</html>